@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

[x-cloak] {
    display: none !important;
}

/* Samakan ukuran placeholder input */
input::placeholder {
    font-size: 14px;
    color: #9CA3AF;
    /* abu-abu biar elegan */
}

/* Custom Scrollbar Styles */
.custom-scrollbar, 
.custom-scrollbar-y {
    scrollbar-width: thin;
    scrollbar-color: #cbd5e1 #f8fafc;
}

.custom-scrollbar::-webkit-scrollbar,
.custom-scrollbar-y::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track,
.custom-scrollbar-y::-webkit-scrollbar-track {
    background: #f8fafc;
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb,
.custom-scrollbar-y::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    border-radius: 10px;
    border: 1px solid #f8fafc; /* Adds some spacing */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover,
.custom-scrollbar-y::-webkit-scrollbar-thumb:hover {
    background: #94a3b8;
}

/* Tom Select Multi-Select Constraint */
.ts-wrapper.multi .ts-control {
    max-height: 120px;
    overflow-y: auto;
}

.ts-wrapper.multi .ts-control::-webkit-scrollbar {
    width: 6px;
}

.ts-wrapper.multi .ts-control::-webkit-scrollbar-thumb {
    background-color: #cbd5e1;
    border-radius: 4px;
}

.ts-wrapper.multi .ts-control::-webkit-scrollbar-track {
    background-color: transparent;
}